@import '~normalize.css';
@import '~reset.css';
body {
  margin: 0;
  font-family: "Segoe UI", "Roboto";
  background: #3a3d3a;
}

h1, p {
  font-family: "Anton", sans-serif;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}