$background-color: #A5F
$text-color: #AFF

body
    margin: 0
    font-family: 'Segoe UI', 'Roboto',
    background: $background-color

code
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace
